@import "../../Colours";

.user-role-nat {
  background-color: $nat-colour;
}

.user-role-bn {
  background-color: $bn-colour;
}

.user-role-pbn {
  background-color: $pbn-colour;
}

.user-role-rc {
  background-color: $rc-colour;
}

.text-group {
  padding-bottom: 5px;
  margin-bottom: 10px;

  .text-group-name {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
  }

  .text-group-name-main {
    font-size: 1.5em;
    margin-bottom: -8px;
  }

  .text-group-items {
    text-align: left;
    padding-top: 5px;
    margin: 0 20px;
  }

  ul.text-group-items {
    padding-left: 10px;
  }

  .text-group-item {
    margin: 5px 0;
    padding: 5px;
    background-color: $background-colour-dark;

    .text-group-item-badge {
      width: fit-content;
      padding: 3px 7px;
      font-size: 1.1em;
      border-radius: 5px;
      margin-bottom: 2px;
    }

    .text-group-item-explanation {
      margin-left: 3px;
    }

    .text-group-item-badge.user-role-observer {
      background-color: $background-colour-light
    }
  }
}

.text-group-table {
  background-color: $background-colour-lighter;

  .text-group-name {
    background-color: $background-colour-darker;
  }
}

.leaderboard {
  text-align: left;
  background-color: $background-colour-lighter;
  padding-bottom: 5px;
  margin-bottom: 10px;

  .leaderboard-name {
    font-weight: bold;
    background-color: $background-colour-darker;
    font-size: 1.2em;
    padding: 10px;
  }

  .leaderboard-items {
    padding-top: 5px;
    margin: 0 20px;

    .leaderboard-items-group {
      margin: 5px 0;
      padding-bottom: 10px;

      .leaderboard-item {
        margin: 2px 0;
      }

      .leaderboard-items-group-header {
        display: flex;
        font-size: 1.1em;
        padding: 5.5px;
        background-color: $background-colour-darker;
      }
    }

    .leaderboard-item.leader {
      box-shadow: 0 0 2px 1px $leader-colour;
    }

    .leaderboard-item {
      display: flex;
      margin: 5px 0;
      background-color: $background-colour-dark;
      height: 32px;

      .leaderboard-item-user-info, .leaderboard-item-label {
        display: flex;
        width: 80%;
      }

      .leaderboard-item-label-popup-icon {
        padding-left: 5px;
        margin: auto;
      }

      .leaderboard-item-label-icon {
        width: 32px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
      }

      .leaderboard-item-label-text, .leaderboard-item-label-special {
        margin: auto auto auto 10px;
      }

      .leaderboard-item-picture {
        height: 32px;
        width: auto;
      }

      .leaderboard-item-stripe {
        width: 2px;
        background-color: $text-colour;
      }

      .leaderboard-item-stripe.user-role-nat {
        background-color: $nat-colour;
      }

      .leaderboard-item-stripe.user-role-bn {
        background-color: $bn-colour;
      }

      .leaderboard-item-stripe.user-role-pbn {
        background-color: $pbn-colour;
      }

      .leaderboard-item-stripe.user-role-rc {
        background-color: $rc-colour;
      }

      .leaderboard-item-user {
        margin: auto auto auto 10px;
      }

      .leaderboard-item-amount, .leaderboard-item-amount-special {
        margin: auto 10px auto auto;
      }

      .leaderboard-item-amount-special {
        text-align: right;
      }

      .leaderboard-item-amount {
        width: 20%;
        text-align: center;
      }
    }
  }
}
