html, body {
    height: 100%;
}

body {
    background-image: url("assets/background.png") !important;
}

.App {
    text-align: center;
    width: 100vw;
}

p, h1, h2, h3, h4, h5, h6, label {
    color: #d7d7d7 !important;
}

.base-container-large {
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    background-color: #242424;
}

.base-container {
    margin: 2vh 10vw;
    padding: 1vh 1vw;
    background-color: #242424;
}

.base-container-small {
    margin: 2vh 20vw;
    padding: 1vh 1vw;
    background-color: #242424;
}

.filter {
    background-color: #2b2b2b;
    padding: 1vw 1vh;
}

.ui.modal {
    background-color: #242424 !important;
}

.ui.modal > .header {
    background-color: #242424 !important;
    color: #d7d7d7 !important;
}

.ui.modal > .content {
    background-color: #2b2b2b !important;
    color: #d7d7d7;
}

.ui.modal > .actions {
    background-color: #242424 !important;
    color: #d7d7d7;
}

.error-message > .content > p {
    color: #9f3a38 !important;
}