$text-colour: #d7d7d7;
$text-colour-dark: #262626;
$text-colour-link: #8e95a8;

$error-colour: #9f3a38;
$info-colour: #0e566c;

/*$background-colour-lighter: #474747;
$background-colour-light: #393939;
$background-colour: #323232;
$background-colour-dark: #2c2c2c;
$background-colour-darker: #232323;
$background-colour-bg: #1c1c1c;*/


$background-colour-lighter: #424253;
$background-colour-light: #2f2f3d;
$background-colour: #262632;
$background-colour-dark: #1b1b24;
$background-colour-darker: #161621;
$background-colour-bg: #101018;

/*$background-colour-lighter: #424253;
$background-colour-light: #313148;
$background-colour: #232334;
$background-colour-dark: #1B1C29;
$background-colour-darker: #181824;
$background-colour-bg: #14151f;*/

$bn-colour: #7249A5;
$pbn-colour: #995BA5;
$nat-colour: #A53D3C;
$rc-colour: #696969;

$confirm-colour: #21ba45;