.event-list .event-item.user-role-bn {
    background: linear-gradient(to left, transparent, transparent 50%, rgba(114, 73, 165, 0.5) 100%, transparent 75%);
}

.event-list .event-item.user-role-pbn {
    background: linear-gradient(to left, transparent, transparent 50%, rgba(153, 91, 165, 0.5) 100%, transparent 75%);
}

.event-list .event-item.user-role-nat {
    background: linear-gradient(to left, transparent, transparent 50%, rgba(165, 61, 60, 0.5) 100%, transparent 75%);
}

.event-list .event-item.user-role-ca {
    background: linear-gradient(to left, transparent, transparent 50%, rgba(105, 105, 105, 0.5) 100%, transparent 75%);
}

.event-list {
    border: 1px solid rgba(255,255,255,.1);
}