.beatmap-status-unknown {
    background-color: #c3c3c3 !important;
    color: #242424 !important;
}

.beatmap-status-pending {
    background-color: #538ea5 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-wip {
    background-color: #a0a525 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-ar {
    background-color: #7249a5 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-bubbed {
    background-color: #2b56a5 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-qualified {
    background-color: #2da554 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-ranked {
    background-color: #5aa500 !important;
    color: #d7d7d7 !important;
}

.beatmap-status-popped {
    background-color: #a57d5d !important;
    color: #d7d7d7 !important;
}

.beatmap-status-dqed {
    background-color: #a54e4b !important;
    color: #d7d7d7 !important;
}

.beatmap-status-graved {
    background-color: #a5a5a5 !important;
    color: #242424 !important;
}

tr.beatmap-row td.beatmap-nominator .nominated {
    box-shadow: 0 0 5px 1px #40ff2f;
}

.beatmap-banner {
    max-width: 8vw;
}

@media (max-width: 767px) {
    .beatmap-banner {
        min-width: 100vw;
    }
}

.beatmap-event-list {
    height: inherit;
}

.beatmap-event-item {
    margin: 1vh 0;
}
