@import "./src/Colours";

.beatmap-status-unfinished {
  background-color: #6253a5 !important;
  color: #d7d7d7 !important;
}

.beatmap-status-pending, .pending-color {
  background-color: #538ea5 !important;
  color: #d7d7d7 !important;
}

.beatmap-status-bubbed {
  background-color: #2b56a5 !important;
  color: #d7d7d7 !important;
}

.beatmap-status-qualified {
  background-color: #2da554 !important;
  color: #d7d7d7 !important;
}

.beatmap-status-ranked, .ranked-color {
  background-color: #5aa500 !important;
  color: #d7d7d7 !important;
}

.beatmap-status-popped {
  background-color: #a57d5d !important;
  color: #d7d7d7 !important;
}

.beatmap-status-dqed {
  background-color: #a54e4b !important;
  color: #d7d7d7 !important;
}

.beatmap-status-graved, .graved-color {
  background-color: #a5a5a5 !important;
  color: #242424 !important;
}

u.beatmap-status-unknown {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #c3c3c3 !important;
}

u.beatmap-status-unfinished {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #8367d0 !important;
}

u.beatmap-status-pending {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #67b4d0 !important;
}

u.beatmap-status-bubbed {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #346ccd !important;
}

u.beatmap-status-qualified {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #37c664 !important;
}

u.beatmap-status-ranked {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #6bc400 !important;
}

u.beatmap-status-popped {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #c6956f !important;
}

u.beatmap-status-dqed {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #cb5e5b !important;
}

u.beatmap-status-graved {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #bdbdbd !important;
}

.section.beatmap-filter {
  margin-bottom: 20px;
}

.beatmap-banner {
  max-width: 8vw;
}

.metadata-value {
  font-size: 1.1em;
}

@media (max-width: 767px) {
  .beatmap-banner {
    min-width: 100%;
  }
}

.beatmap-event-list {
  height: inherit;
}

.beatmap-event-item {
  margin: 1vh 0;
}

div.dropdown .menu {
  .item.beatmap-status-item .text {
    color: $text-colour-light;
  }
}

.modal-beatmap {
  .modal-beatmap-content-all {
    .modal-beatmap-content-header {
      //background-color: $background-colour-dark;
      padding-bottom: 0;
    }

    .modal-beatmap-content {
      //background-color: $background-colour-dark;

      .metadata-row {
        padding: 6.5px;
        .metadata-label {
          padding-left: 20px;
        }

        .metadata-value {
          padding-top: 2px;
          padding-bottom: 2px;
        }
      }

      .nominator-row {
        //background-color: $background-colour-light;
        margin: 5px;

        .nominator-avatar {
          img {
            border-radius: 25%;
            background-color: $background-colour-light;
          }

          .nominated img {
            box-shadow: 0 0 5px 1px $confirm-colour;
          }
        }

        .nominator-details {
          div.row div.field {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}